[LIB]
# average insert size from Picard metrics
avg_ins=500

# if sequence needs to be reversed
reverse_seq=0

# in which part(s) the reads are used
asm_flags=3

# use only first 200 bps of each read (mean read length of these samples was 250)
rd_len_cutoff=200

# in which order the reads are used while scaffolding
rank=1

# cutoff of pair number for a reliable connection (at least 3 for short insert size)
pair_num_cutoff=3

#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size)
map_len=32

# a pair of fastq files, read 1 file should always be followed by read 2 file
q1=../Trimming/Results/Trimmed_fastq_files/GRL1694_S6_L001_R1_001_val_1.fq.gz
q2=../Trimming/Results/Trimmed_fastq_files/GRL1694_S6_L001_R2_001_val_2.fq.gz
